<div class="courses">

  <div class="page-header">
    <h1>Cursos</h1>
    <select class="form-control" ng-model="filter">
      <optgroup label="Categorias">
        <option value="">Todas as categorias</option>
        <option>Artesanato</option>
        <option>Gastronomia</option>
      </optgroup>
    </select>
  </div>

  <br clear="all">

  <div class="course col-sm-6 col-lg-4"
    ng-repeat="course in courses | filter: filter | orderBy: order | published">
    <img fallback="http://placehold.it/220x130" preview="{{course.preview_video_url}}" ng-src="{{course.thumb}}">
    <i class="fa fa-2x fa-youtube-play"></i>
    <a href="#/courses/{{course.id}}">
      <rating value="{{course.rating}}"></rating>
      <small>{{course.category}}</small>
      <h5>{{course.author}}</h5>
      <h4>{{course.title}}</h4>
    </a>
  </div>
</div>