@charset 'utf-8'

@import '../node_modules/bootstrap/dist/css/bootstrap.min'
@import '../node_modules/font-awesome/css/font-awesome.min.css'
@import 'https://fonts.googleapis.com/css?family=PT+Sans'

#modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1
  display: block
  overflow: hidden
  -webkit-overflow-scrolling: touch
  outline: 0
  background: black

  #close
    position: absolute
    top: 0
    right: 0
    z-index: 2
    color: white
    background: rgba(0,0,0,.5)
    padding: 10px
    width: 50px
    height: 50px
    text-align: center


  iframe
    width: 100%
    height: 100%
