.courses

  .page-header
    position: relative

    h1
      font-family: 'PT Sans', sans-serif

    .form-control
      position: absolute
      top: 10px
      right: 0
      width: auto

  .course
    overflow: hidden
    position: relative

    img
      width: 100%
      cursor: pointer

    .fa-youtube-play
      position: absolute
      top: 10px
      right: 25px
      color: rgba(255,255,255,.8)

    a
      display: block
      position: relative
      top: -30px
      text-decoration: none
      cursor: pointer
      padding: 5px 10px
      background: rgba(255,255,255,.8)
      transition: transform .1s ease-in

      small,
      h5,
      h4
        width: 100%
        margin: 0

      small
        color: black

      h5
        font-size: small
        color: gray
        font-weight: normal
        padding-top: 10px

      h4
        padding: 3px 0
        font-family: 'PT Sans', sans-serif
        height: 50px

      rating
        float: right
        color: silver

        .fa-star
          color: gold
          text-shadow: 0 0 10px white